<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    <title>Who Tube</title>
    <link rel="icon" href="/public/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-ico" href="/owl.ico"/>
    <link rel="stylesheet" href="/css/styles.css" type='text/css'>
  </head>
  <body>

<body>

  {{> header}}
  {{{body}}}
  {{>footer}}

</body>

</html>