{{> title }}
<h2 id = "center">
  <form action="/" method="post" class = "homesearch">
    <input type="text" name="search" class="video" "searchtext" required />
    <input type="submit" id="search" value="Search" class = "submit" id = "submitbutton" />
  </form>
</h2>

<h2 class = "intro">Select a YouTuber and view their videos with their Tweets </h2>


