{{> title }}
<form action="/" method="post" class="search-box">
  <input type="text" name="search" class="search-text" required />
  <input type="submit" value="Search" class="submit" id="submit-button" />
</form>


<h2 class="intro">Search for a YouTuber, <br /> see tweets and videos altogether</h2>