<form action="/re-search" method="post">
    <p>Oops, this user seems to have different usernames for YouTube and Twitter, please search for each:</p>
    <label for="searchYoutube">YouTube name:</label>
    <input type="text" name="searchYoutube" class="video" />
    <label for="searchTwitter">Twitter handle:</label>
    <input type="text" name="searchTwitter" class="video" />
    <input type="submit" />
</form>