{{> header}}
<form action="/re-search" method="post">
    <p>Oops, this user seems to have different usernames for YouTube and Twitter, please search for each:</p>
    <label for="searchYoutube">YouTube name:</label>
    <input type="text" name="searchYoutube" class="video" required />
    <label for="searchTwitter">Twitter handle:</label>
    <input type="text" name="searchTwitter" class="tweet" required />
    <input type="submit" class="re-search" value="Re-Search" />
</form>