{{> title}}
<form action="/re-search" method="post" class="search-box">
    <p id="oops-intro"><span id="oops">Oops!</span><br /><br /> This youtuber seems to have different usernames for
        YouTube and Twitter. <br /><br />
        Please
        search
        seperately
        for
        each in the
        boxes below:</p><br />
    <label for="searchYoutube">YouTube name:</label><br />
    <input type="text" name="searchYoutube" class="search-text" required /><br /><br /><br />
    <label for="searchTwitter">Twitter handle:</label><br />
    <input type="text" name="searchTwitter" class="search-text" required /><br /><br /><br />
    <input type="submit" class="re-submit" value="Re-Search" />
</form>