<h1>YouTube</h1>
<ul id="y-t">
  {{#each youtubeArr}}
  <iframe allowFullScreen="allowFullScreen" frameBorder="0" src='https://www.youtube.com/embed/{{this}}'> </iframe>
  {{/each}}
</ul>

<ul id="t-w">
  {{#each twitterArr}}
  <li>{{@key}}: {{this}}</li>
  {{/each}}
</ul>
<p>If you think this is the incorrect YouTube or Twitter account, </p>
<p>or there are no tweets shown, </p>
<p>please search manually: </p>
<<<<<<< HEAD
<a href="/re-search"><button class="re-search">Re-Search</button></a>

<a href="/"><button class="re-search">HOME</button></a>
=======
<a href="/re-search"><button class="re-search">Re-Search</button></a>
>>>>>>> staging
