{{!-- <h1>YouTube</h1>
<ul id="y-t">
  {{#each youtubeArr}}

  <iframe src='https://www.youtube.com/embed/{{this}}'> </iframe>
  {{/each}}
</ul>

<input type="text" placeholder="Search Twitter" name="searchTwitter" />
<input type="submit" class="re-search" value="Re-Search" /> --}}