<h1>YouTube</h1>
<ul>
  {{#each youtubeArr}}

  <iframe src='https://www.youtube.com/embed/{{this}}'> </iframe>
  {{/each}}
</ul>

{{!-- <ul>
  {{#each tweetsTime}}
  <li>{{this}}</li>

  {{/each}}
</ul> --}}



<ul>
  {{#each twitterArr}}
  <li>{{this}}</li>

  {{/each}}
</ul>