 <header>
    <nav id="navbar">
        <a href="/">Whotube logo</a>
        <form action="/" method="post" class="search-box" id="nav-search">
            <input type="text" name="search" class="search-text" placeholder="Search again..." required></input>
            <input type="submit" value="Q"></input>
        </form>       
    </nav>
</header>