{{!-- <header id="navbar">
    <nav>
        <p>
            <a href="/">Whotube home</a>
            <form action="/" method="post">
                <input type="text" name="search" placeholder="Search again..." required></input>
                <input type="submit" value="Q"></input>
            </form>
        </p>
    </nav>
</header> --}}



