<header>
    <nav><p>logo WhoTube <span>searchbar in header</span></p>

{{!-- <form action="/" method="post">
  <input type="text" name="search" class="" />
  <input type="submit" />
</form> --}}
    
    </nav>
</header>