<header>
    <nav id="navbar">
        <a href="/">Whotube logo</a>
        <form action="/" method="post" class="search-box">
            <input type="text" name="search" class="search-text" id="nav-search" placeholder="Search again..." required></input>
        </form>
    </nav>
</header>